SERVICE_PORT=3101
GRPC_SERVER_PORT=31001


CONFIG_PG_HOST_USER=
CONFIG_PG_PORT_USER=
CONFIG_PG_USERNAME_USER=
CONFIG_PG_PASSWORD_USER=
CONFIG_PG_DB_NAME_USER=

CONFIG_JWT_SECRET_TOKEN=


# Redis
CONFIG_REDIS_HOST=
CONFIG_REDIS_PORT=
CONFIG_REDIS_PASSWORD=
CONFIG_REDIS_DB=


CONFIG_GRPC_NODEJS_USER_HOST
CONFIG_GRPC_NODEJS_USER_PORT


CONFIG_LOGGER_LEVEL=log,error,warn,debug,verbose

