SERVICE_PORT=3100

CONFIG_GRPC_NODEJS_USER_HOST=
CONFIG_GRPC_NODEJS_USER_PORT=

# NOVEL SERVICE PROJECTID 3002
# http://novel.wibutime.svc.cluster.local
CONFIG_PROXY_NOVEL_SERVICE=
CONFIG_PROXY_USER_SERVICE=

ENCRYPTION_SECRET_KEY=
